
.boots-admin {
    margin: 0 0 0 -20px;
}

.boots-admin_hidden {
    display: none;
}

.boots-admin_color,
.boots-admin .boots-admin-header
ul li.active a,
.boots-admin .boots-admin-header
ul li.active a:hover {
    color: #e14d43;
}
.boots-admin_bg {
    background-color: #e14d43;
}
.boots-admin_border {
    border-color: #e14d43;
}

.boots-admin .boots-admin-header,
.boots-admin .boots-admin-body {
    padding: 42px;
}

.boots-admin-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}
.boots-admin-icon.boots-admin-icon-spinner {
    background: url(../images/spinner.gif) no-repeat center center transparent;
}
.boots-admin-icon.boots-admin-icon-tick {
    background: url(../images/tick.gif) no-repeat center center transparent;
}
.boots-admin-icon.boots-admin-icon-cross {
    background: url(../images/cross.gif) no-repeat center center transparent;
}

/* ---------------
    Header
--------------- */

.boots-admin .boots-admin-header {
    padding-bottom: 21px;
}
.boots-admin .boots-admin-header
h1 {
    font-size: 2em;
    line-height: 2.48em;
    margin-left: 85px;
}
.boots-admin .boots-admin-header
img {
    float: left;
}
.boots-admin .boots-admin-header
h2.nav-tab-wrapper {
    margin-top: 21px;
    padding-top: 21px;
}
.boots-admin .boots-admin-header
h2.nav-tab-wrapper a:focus {
    -webkit-box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
}
.boots-admin .boots-admin-header
.boots-admin-meta {
    float: right;
}

/* ---------------
 Modal - restore
--------------- */

.boots-admin #boots_admin_restore_lb {
    display: none;
    padding: 21px;
    max-width: 160px;
    background-color: #f6f6f6;
}
.boots-admin #boots_admin_restore_lb h3 {
    font-size: 16px;
    line-height: 28px;
}
.boots-admin #boots_admin_restore_lb hr {
    margin: 14px 0;
}
.boots-admin #boots_admin_restore_lb .js-restore-all-cancel {
    float: right;
}

/* ---------------
    Body
--------------- */

.boots-admin .boots-admin-body {
    padding-top: 0;
}

.boots-form {
    position: relative;
}

.boots-form > ul {
    display: none;
}
.boots-form > ul.active {
    display: block;
}
.boots-form > ul > li {
    border: 1px solid #d7d7d7;
    background-color: #f0f0f0;
    -webkit-box-shadow: 0 0 10px #fff;
    -moz-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    padding: 21px;

    margin-top: 42px;
    position: relative;
    width: 640px;
    border-radius: 4px;
}
.boots-form.awesome-grid > ul > li {
    margin-top: 0;
    width: auto;
    padding: 0;
}
.boots-form > ul > li > label {
    position: absolute;
    top: -27px;
    left: 0px;
}
.boots-form > ul > li > .boots-form-input {
    width: 300px;
    float: left;
}
.boots-form > ul > li > .boots-form-input-wide,
.boots-form.awesome-grid > ul > li > .boots-form-input {
    width: auto;
    float: none;
    padding: 14px;
    background-color: #f6f6f6;
}
.boots-form > ul > li > p {
    margin-left: 320px;
    border: 0;
}
.boots-form > ul > li > .boots-form-input-wide + p,
.boots-form.awesome-grid > ul > li > p {
    margin: 0;
    padding: 14px;
    border-top: 1px solid #d7d7d7;
}

/* ---------------
    Sidebar
--------------- */

.boots-admin-sidebar {
    position: absolute;
    top: 0;
    left: 700px;
    width: 300px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}





